body 
    {background-color: olive;}
h1
    {color: rgb(rgb(255, 134, 195), green, blue);
        text-align: center;
        font-family: fantasy;
        font-size: 40pt;}
p
    {text-align: center;font-family:monospace;
    font-size: 10pt;}
h3
    {text-align: left;font-size: larger;}
        .peter{font-weight: bold;}
        .ray{font-weight: bold;}
        .dana{font-weight: bold;}
        .mayor{font-weight: bold;}
        .egon{font-weight: bold;}
        .winston{font-weight: bold;}
        .note{font-weight: bold;}
nav
        {display: block;
            background-color: greenyellow;}
article
    {display: block;background-color: wheat;}
