h1
    {margin-bottom: 0pt;
        font-size: 70pt;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        font-weight: bolder;
        background-color: orange;
        color: rgb(255, 0, 221);}

h2
{margin-bottom: 0pt;
    font-size: 50pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: orange;
    color: rgba(204, 255, 21, 0.979);}
h3    
{margin-bottom: 0pt;
    font-size: 20pt;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: orange;
    font-weight: lighter;
    color: rgba(189, 255, 249, 0.658);}
html
    {background-color: rgb(182, 103, 0);